body {
  --bg-main: #fffaf3;
  --bg-sub: #faf4ed;
  --color-bis: #575279;
  --text-main: #575279;
  --text-sub: #797593;
  --link: #ea9d34;
  --border: #f2e9e1;
}

body.dark {
  --bg-main: #1f1d2e;
  --bg-sub: #191724;
  --color-bis: #e0def4;
  --text-main: #908caa;
  --text-sub: #6e6a86;
  --link: #f6c177;
  --border: #26233a;
}
